@model IEnumerable<copave.Models.TipoMaquina>

@{
    ViewData["Title"] = "Tipo de Maquina";
}

<h1>Tipos de Maquinas</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoId">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.TipoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form class="form-group" method="GET">
    <input type="submit" asp-action="Create" value="Adicionar" class="btn btn-success" />
</form>